/*
- Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

- Line heights
    Default: 1
    Small: 1.05
    Medium: 1.2
    Paragraph default: 1.6
    Large: 1.8

- Letter spacing
    - 0.5px
    - 0.75px
    - Accents:

- Greys

    #888
    #767676 (lightest grey allowed on #fff)
    #6f6f6f (lightest grey allowed on #fdf2e9)
    #555
    #333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

    Default: 9px
    Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


--- 08 Gradients
linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%)


*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font: 1.6rem "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.heading {
  color: #292b44; }
  .heading__primary {
    color: #4a2626;
    font-size: 5.6rem; }
  .heading__secondary {
    color: #292b44;
    font-size: 2.6rem; }

.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  padding: 0 !important;
  width: 0; }

.active {
  opacity: 1;
  transition: all 0.95s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.hero {
  position: relative;
  padding: 8rem;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
  grid-column: 1 / -1; }
  .hero__text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, max-content);
    row-gap: 3rem; }
  .hero .heading__primary--hero {
    grid-column: 1 / -1; }
  .hero .heading__secondary-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-row: 2;
    font-weight: 700; }
  .hero .heading__tertiary--hero {
    grid-row: 3; }
  .hero .subheading__primary--hero {
    grid-column: 1 / -1;
    grid-row: 4;
    color: #332e34; }
  .hero__sidebar-section {
    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(); }
  .hero__img-sidebar {
    position: absolute;
    grid-column: 3;
    justify-self: end;
    height: 100%;
    background-color: #292b44; }
  .hero__img {
    z-index: 10;
    width: 100%;
    height: 55%;
    align-self: top;
    margin-top: 2rem;
    border-radius: 15px;
    grid-column: 3; }
  .hero__link:link, .hero__link:visited {
    grid-row: 5;
    width: 80%;
    display: inline-block;
    padding: 3px;
    color: #b14848;
    text-decoration: none;
    font-weight: 500;
    font-size: 2.6rem;
    border-bottom: 1px solid #fff;
    transition: all 0.2s; }
  .hero__link:hover {
    background-color: #fff;
    color: #b14848;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }

.icon-integration {
  padding: 8rem;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  height: 100vh;
  width: 100%;
  background-color: #292b44;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .icon-integration__text-container {
    display: grid;
    row-gap: 1.5rem;
    grid-template-columns: [btn-start full-start] 25rem [btn-end] 30rem 10rem [full-end];
    grid-template-rows: repeat(3, 1fr); }
  .icon-integration__heading {
    font-size: 3.8rem;
    grid-column: 1 / 3;
    color: #fff; }
  .icon-integration .subheading__primary--icon-integration {
    font-size: 2.4rem;
    color: #fff;
    grid-row: 2;
    grid-column: 1 / -1;
    align-self: center; }
  .icon-integration--btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    grid-column: btn-start / btn-end;
    background-color: #444444;
    grid-row: 3;
    height: 40%;
    transition: box-shadow 0.6s cubic-bezier(0.61, 1, 0.88, 1);
    transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
    border-radius: 8px;
    align-self: center; }
  .icon-integration__btn-icon {
    font-size: 2.3rem; }
    .icon-integration__btn-icon--link:link, .icon-integration__btn-icon--link:visited {
      text-decoration: none;
      color: blue; }
  .icon-integration__btn {
    display: inline-block;
    font-size: 2.1rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s; }
  .icon-integration--btn-container:hover {
    box-shadow: 1rem 2rem rgba(0, 0, 0, 0.1);
    transform: translate(1rem, -1rem);
    font-weight: 600; }
  .icon-integration__icon-container {
    align-self: center; }
    .icon-integration__icon-container--img {
      position: relative;
      display: flex;
      padding: 2rem;
      align-items: center;
      justify-content: center;
      width: 10rem;
      background-color: #fff;
      border-radius: 50%;
      transition: all 0.2s; }
      .icon-integration__icon-container--img span {
        opacity: 0;
        position: absolute;
        color: rgba(225, 219, 219, 0.585);
        top: 10rem;
        transition: all 0.2s cubic-bezier(0.11, 0, 0.5, 0); }
    .icon-integration__icon-container--img:hover span {
      opacity: 1; }
    .icon-integration__icon-container--img:hover {
      transform: translateY(-1rem); }
    .icon-integration__icon-container--row {
      display: grid;
      margin-bottom: 1rem;
      gap: 3rem; }
      .icon-integration__icon-container--row-top img, .icon-integration__icon-container--row-middle img, .icon-integration__icon-container--row-bottom img {
        width: 5.5rem; }
      .icon-integration__icon-container--row .react-logo,
      .icon-integration__icon-container--row .java-logo,
      .icon-integration__icon-container--row .mongoDB-logo {
        height: 5.5rem;
        width: 10.5rem; }
      .icon-integration__icon-container--row .css-logo {
        height: 4.7rem;
        width: 4.8rem; }
      .icon-integration__icon-container--row-top, .icon-integration__icon-container--row-bottom {
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(3rem, min-content)); }
      .icon-integration__icon-container--row-middle {
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(3rem, min-content)); }
        .icon-integration__icon-container--row-middle span {
          margin-top: 1rem; }
    .icon-integration__icon-container--item {
      display: grid;
      width: 5.5rem;
      height: 5.5rem; }
      .icon-integration__icon-container--item-1 {
        grid-column: 1; }
      .icon-integration__icon-container--item-2 {
        grid-column: 2; }
      .icon-integration__icon-container--item-3 {
        grid-column: 3; }
    .icon-integration__icon-container--background {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 11.2rem;
      height: 11.2rem;
      background-color: #fff;
      border-radius: 50%; }
      .icon-integration__icon-container--background :hover ::after {
        content: 'Javoeifwj'; }
      .icon-integration__icon-container--background img {
        border-radius: 50%;
        height: 8.5rem;
        padding: 1rem;
        width: 80%; }
    .icon-integration__icon-container--java-img {
      width: 100% !important; }

.card {
  height: 100%;
  width: 100%;
  grid-row: 3 /5;
  position: relative; }
  .card__title {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    text-align: center;
    color: #292b44;
    top: 1%;
    background-color: rgba(234, 241, 255, 0.1);
    font-size: 4.8rem;
    border-radius: 10px; }
  .card__container {
    padding: 100rem;
    background: #e7717d;
    padding: 5rem;
    padding-top: 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(2, minmax(60rem, 1fr));
    row-gap: 10rem;
    column-gap: 25rem; }
    .card__container--website {
      padding: 0;
      background: #fff;
      display: grid;
      transition: all 0.2s cubic-bezier(0.12, 0, 0.39, 0);
      grid-template-rows: 19.8rem;
      border-radius: 20px;
      row-gap: 3rem; }
      .card__container--website:hover {
        transform: translateY(-1.5rem);
        box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.454);
        border: 5px solid rgba(241, 239, 239, 0.988); }
      .card__container--website-4 {
        row-gap: 3rem; }
      .card__container--website-tag {
        margin-left: 3rem;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, max-content));
        grid-template-rows: repeat(2, 1.5rem);
        row-gap: 1rem;
        font-size: 1.4rem;
        color: #fff;
        align-self: center;
        grid-row: 2; }
        .card__container--website-tag .tag {
          box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.15);
          border-radius: 100px;
          padding: 0 1rem;
          max-width: min-content;
          align-items: center;
          filter: contrast(1.5); }
          .card__container--website-tag .tag-HTML {
            background-image: linear-gradient(120deg, #db3c30, 50%, #f16c47);
            color: #d1cfcf; }
          .card__container--website-tag .tag-SASS {
            padding: 0 1.5rem;
            background-image: linear-gradient(120deg, #cc6699, 50%, #ebc2d6); }
          .card__container--website-tag .tag-NodeJS {
            background-image: linear-gradient(120deg, #8eb263, 50%, #7cc226); }
          .card__container--website-tag .tag-MongoDB {
            background-image: linear-gradient(120deg, #6c9b33, 50%, #6eac22); }
          .card__container--website-tag .tag-CSS {
            background-image: linear-gradient(120deg, #1769aa, 50%, #65b4f5);
            padding: 0 1.5rem; }
          .card__container--website-tag .tag-JS {
            background-image: linear-gradient(120deg, #aaa317, 50%, #ceca56);
            color: rgba(0, 0, 0, 0.849);
            padding: 0 1.5rem; }
      .card__container--website-1 img, .card__container--website-2 img, .card__container--website-3 img, .card__container--website-4 img, .card__container--website-5 img, .card__container--website-6 img {
        justify-self: center;
        width: 100%;
        border-radius: 12px;
        height: 20rem;
        height: 75%;
        transition: all 0.2s; }
      .card__container--website-1 {
        grid-column: 1;
        grid-row: 1; }
      .card__container--website-3 img {
        height: 35%;
        align-self: center;
        background: rgba(255, 255, 255, 0.454); }
      .card__container--website-4 img {
        height: 85%;
        filter: brightness(1.2); }
      .card__container--website-5 img {
        background-color: #f4f3f3; }
      .card__container--website-heading:link, .card__container--website-heading:visited {
        display: flex;
        align-self: center;
        display: inline-block;
        justify-self: center;
        color: #eaf1ff;
        font-weight: 400;
        text-decoration: none;
        font-size: 2.8rem;
        padding: 0.5rem 3.5rem;
        background: linear-gradient(115deg, #c594e5, 25%, #b14848);
        border-radius: 10px;
        transition: all 0.6s;
        background-size: 100%; }
      .card__container--website-heading:hover, .card__container--website-heading:active {
        transform: translateY(-5px);
        background-image: linear-gradient(120deg, #c594e5);
        background-size: 300%; }
      .card__container--website-subheading {
        text-align: center;
        padding: 0 1rem;
        justify-self: center; }

.about {
  padding: 8rem;
  height: 100vh;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: max-content;
  background-color: #292b44; }
  .about__img {
    height: 35rem;
    width: 35rem; }
  .about__text {
    display: grid;
    grid-template-rows: 20rem 1fr; }
    .about__text--title {
      color: #fff;
      font-size: 4.8rem; }
    .about__text--subheading {
      color: #fff;
      text-transform: italic; }
  .about__tabbed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    list-style: none;
    justify-content: center; }
    .about__tabbed li {
      background-color: #131837;
      padding: 1rem 1rem;
      height: min-content;
      transition: all 0.4s cubic-bezier(0.45, 0, 0.55, 1); }
    .about__tabbed-item {
      display: grid;
      grid-template-columns: min-content 1fr;
      align-items: center; }
      .about__tabbed-item--icon {
        color: #525178;
        justify-self: start;
        text-align: left;
        font-size: 3.8rem;
        cursor: pointer;
        transition: all 0.15s; }
      .about__tabbed-item--heading {
        color: #fff;
        text-align: center;
        font-weight: 600;
        font-size: 2.4rem;
        border-radius: 3px;
        height: min-content;
        grid-column: 2; }
      .about__tabbed-item--text {
        padding: 1rem;
        color: #fff;
        grid-column: 1/-1;
        background-color: rgba(227, 227, 227, 0.1);
        border-radius: 3px; }
    .about__tabbed li:hover {
      transform: translateY(-1rem); }

.footer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 25vh;
  padding: 3rem;
  background-color: #131837;
  color: #fff; }
  .footer__title {
    font-size: 2.8rem; }
  .footer__copyright {
    text-transform: italic; }
  .footer__icons {
    list-style-type: none;
    display: flex;
    font-size: 3.5rem;
    gap: 3.5rem;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .footer__icon {
    color: #686d8c;
    transition: all 0.4s;
    padding: 1rem; }
  .footer__icon:hover {
    transform: translateY(-0.5rem);
    border-radius: 8px; }
